* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: 495057;
}

body {
  background-color: #e5e5e5;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Coloca los elementos en columna */
  font-family: "Inter", sans-serif;
}
.contenedor-principal {
  width: 1200px;
  margin: 0 auto;
  height: 550px;
  display: flex;
}
header {
  width: 1200px;
  position: relative;
}
.logo-blanco {
  position: absolute;
  left: -50px;
}

.mensajedeadvertencia {
  margin: 5px 25px;
  font-size: 15px;
  color: #495057;
}

.input-containerizquierdo {
  display: inline-block;
}
.input-containerderecho {
  display: inline-block;
  position: relative;
}

.contenedor {
  margin-top: 15px;
  margin-left: 5px;
}

.input-Encriptador {
  margin: 10px;
  width: 100%; /* Restamos 10px para el padding y el borde */
  height: 410px;
  padding: 25px;

  font-size: 20px;
  border-style: none;
  color: #0a3871;
  background-color: #e5e5e5;
  resize: none;
  font-family: "Inter", sans-serif;
}

.input-Encriptador:hover {
  border-style: solid;
  border-color: #609ed4;
  transform: scale(1);
}
/* .input-Encriptador:active {
  border-style: solid;
  border-color: #0a3871;
} */

.Encriptar {
  width: 328px;
  padding: 25px 0;
  margin: 0 0 10px 20px;
  font-size: 20px;
  border-radius: 24px 24px 24px 24px;
  border: none;
  color: white;
  background-color: #0a3871;
  font-style: bold;
  cursor: pointer;
}
.Encriptar:hover {
  transform: scale(1.04);
}

.Desencriptar {
  width: 328px;
  padding: 25px 0;
  font-size: 20px;
  margin: 0 0 0 20px;
  border-radius: 24px 24px 24px 24px;
  color: #0a3871;
  background-color: #d8dfe8;
  font-style: bold;
  cursor: pointer;
  border-color: #0a3871;
}

.Desencriptar:hover {
  transform: scale(1.04);
}

.input-Desencriptador {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin: 0 70px 0 45px;
  width: 100%; /* Restamos 10px para el padding y el borde */
  border-radius: 32px;
  height: 100%;
  padding: 25px;
  font-size: 20px;
  border-style: none;
  background-color: white;
  resize: none;
  font-family: "Inter", sans-serif;
}
.input-containerderecho img {
  position: absolute;
  right: 40px;
  height: 45%;
  bottom: 245px;
  display: none;
}

.TextoNoEncontrado {
  position: absolute;
  text-align: center;
  bottom: 136px;
  left: 143px;
  right: 45px;
  display: none;
}
#parrafo1 {
  font-size: 22px;
  color: #343a40;
  font-weight: 600;
  margin: 0 0 0 0;
}
#parrafo2 {
  margin-top: 15px;
  font-size: 14px;
  color: #495057;
}

.Copiar {
  position: absolute;
  width: 330px;
  padding: 25px 0;
  font-size: 20px;
  border-radius: 24px 24px 24px 24px;
  color: #0a3871;
  background-color: white;
  font-style: bold;
  cursor: pointer;
  border-color: #0a3871;
  left: 80px;
  top: 445px;
}

.Copiar:hover {
  transform: scale(1.04);
}

@media screen and (max-width: 384px) {
  body {
    width: 384px;
  }

  header {
    width: 380px;
    position: relative;
    display: block;
    height: 90px;
  }
  .logo-blanco {
    position: absolute;
    width: 50px;
    height: 50px;
    display: block;
    left: 20px;
    top: 25px;
  }
  .contenedor-principal {
    width: 384px;
    height: 812px;
    position: relative;
    display: block;
  }

  .input-Encriptador {
    margin-top: 90px;
    width: 350px;
    height: 200px;
    padding: 25px;
    font-size: 20px;
    border-style: none;
    color: #0a3871;
    background-color: #e5e5e5;
    resize: none;
    font-family: "Inter", sans-serif;
    margin-left: 15px;
  }
  .input-Desencriptador {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 0 15px 15px 20px;
    width: 340px;
    border-radius: 32px;
    height: 205px;

    font-size: 20px;
    border-style: none;
    background-color: white;
    resize: none;
    font-family: "Inter", sans-serif;
  }
  .mensajedeadvertencia {
    margin: 5px 25px;
    font-size: 15px;
    color: #495057;
    text-align: center;
  }

  .input-containerderecho {
    display: block;
    width: 328px;
    margin-top: 25px;
    position: relative;
  }
  .Copiar {
    display: none;
  }
  .TextoNoEncontrado {
    position: absolute;
    text-align: center;
    bottom: 70px;
    left: 103px;
    display: none;
  }
  #parrafo1 {
    font-size: 22px;
    color: #343a40;
    font-weight: 600;
    margin: 0 0 0 0;
  }
  #parrafo2 {
    margin-top: 15px;
    font-size: 14px;
    color: #495057;
  }
  .input-containerderecho img {
    display: none;
  }
}
