* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: 495057;
}

body {
  background-color: #e5e5e5;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Coloca los elementos en columna */
}
.contenedor-principal {
  width: 1200px;
  margin: 0 auto;
  height: 550px;
  display: flex;
}
header {
  padding: 20px 0;
  width: 100%; /* Ancho completo del header */
}

.encabezado {
  width: 1200px;
  position: absolute;
  margin: 0 0 0 35px;
}

.mensajedeadvertencia {
  margin: 5px 25px;
  font-size: 15px;
  color: #495057;
}

.input-containerizquierdo {
  display: inline-block;
}
.input-containerderecho {
  display: inline-block;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
}

.contenedor {
  margin-top: 15px;
}

.input-Encriptador {
  margin: 10px;
  width: 100%; /* Restamos 10px para el padding y el borde */
  height: 410px;
  text-align: center;
  font-size: 25px;
  border-style: none;
  color: #0a3871;
  background-color: #e5e5e5;
}

.input-Encriptador:hover {
  border-style: solid;
  border-color: #609ed4;
  transform: scale(1);
}
/* .input-Encriptador:active {
  border-style: solid;
  border-color: #0a3871;
} */

.Encriptar {
  width: 328px;
  padding: 25px 0;
  margin: 0 0 10px 15px;
  font-size: 20px;
  border-radius: 24px 24px 24px 24px;
  border: none;
  color: white;
  background-color: #0a3871;
  font-style: bold;
  cursor: pointer;
}
.Encriptar:hover {
  transform: scale(1.04);
}

.Desencriptar {
  width: 328px;
  padding: 25px 0;
  font-size: 20px;
  margin: 0 0 0 20px;
  border-radius: 24px 24px 24px 24px;
  color: #0a3871;
  background-color: #d8dfe8;
  font-style: bold;
  cursor: pointer;
  border-color: #0a3871;
}

.Desencriptar:hover {
  transform: scale(1.04);
}

.input-Desencriptador {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin: 0 70px 0 70px;
  width: 100%; /* Restamos 10px para el padding y el borde */
  border-radius: 32px;
  height: 100%;
  text-align: center;
  font-size: 25px;
  border-style: none;
  background-color: white;
}
.Copiar {
  position: absolute;
  width: 328px;
  padding: 25px 0;
  font-size: 20px;
  border-radius: 24px 24px 24px 24px;
  color: #0a3871;
  background-color: white;
  font-style: bold;
  cursor: pointer;
  border-color: #0a3871;
  margin: -100px 0 0 125px;
}

.Copiar:hover {
  transform: scale(1.04);
}
